/* 全体 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
* {
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    color: #00c1d5;
    text-decoration: none;
}

div.row div.half {
    width: 50%;
    float: left;
}

/* トップページポスター一覧 */
.categories ul.scrollList {
    list-style: none;
    /* display: grid; */
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.categories ul.scrollList li.scrollItem {
    vertical-align: bottom;
    padding-left: 0;
    width: 180px;
    height: 255px;
    margin-right: 16px;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1.5px 1.5px;
}

.categories ul.scrollList li.scrollItem img {
    object-fit: cover;
    top: 0;
    vertical-align: middle;
    overflow: hidden;
}

/* 団体個別ページ */
.orgdata .container{
    padding: 16px;
}
.orgdata h2 {
    margin-bottom: 4px;
}
.orgdata hr {
    margin-bottom: 4px;
}
.socialLink img {
    margin-bottom: 0;
}
.socialLink img,a {
    vertical-align: middle;
}
.activityIntroduce {
    margin-top: 12px;
}
.otherImages {
    clear: both;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.otherImages img {
    vertical-align: middle;
    max-width: 200px;
    padding-right: 8px;
}

/* ヘッダー */
header {
    background-color: #fff;
    height: 80px;
    box-shadow: 0 1.5px 1px 1px rgba(0, 0, 0, 0.5) ;
}

header div {
    height: 80px;
    margin: 0 auto;
    max-width: 960px;
    padding: 16px;
}

header div h1 {
    height: 48px;
}

header div h1 a {
    display: inline-block;
    height: 48px;
    top: 0;
}

header div h1 img,span {
    vertical-align: middle;
}

#headerLogo {
    margin: 0 16px 0 0;
    height: 48px;
    width: auto;
}

header div h1 span {
    font-size: 1.2rem;
}

/* フッター */
footer {
    clear: both;
    /* height: 108px; */
    background-color: #eaeaea;
    padding: 40px;
    font-size: 0.8rem;
}

#footerLogo {
    height: 48px;
    width: auto;
}

#copyright {
    text-align: center;
    margin: 0;
}