// フォント
$font-weight-bold: 700;
$font-weight-normal: 400;

// 色
// 空の背景
$color-empty-bg: #eee;

// 濃色背景（ダークグレー）
$color-dark-bg: #222;

// つくば紫バリエーション
$color-primary: #60c;

$color-primary-dark1: #5c00b8;
$color-primary-dark2: #5200a3;
$color-primary-dark3: #47008f;
$color-primary-dark4: #3d007a;
$color-primary-dark5: #306;
$color-primary-dark6: #290052;
$color-primary-dark7: #1f003d;
$color-primary-dark8: #140029;
$color-primary-dark9: #0a0014;

$color-primary-light1: #751ad1;
$color-primary-light2: #8533d6;
$color-primary-light3: #944ddb;
$color-primary-light4: #a366e0;
$color-primary-light5: #b380e6;
$color-primary-light6: #c299eb;
$color-primary-light7: #d1b3f0;
$color-primary-light8: #e0ccf5;
$color-primary-light9: #f0e6fa;

// フューチャーブルーバリエーション
$color-secondary: #00c1d5;

$color-secondary-dark1: #00aec0;
$color-secondary-dark2: #009aaa;
$color-secondary-dark3: #008795;
$color-secondary-dark4: #007480;
$color-secondary-dark5: #00616b;
$color-secondary-dark6: #004d55;
$color-secondary-dark7: #003a40;
$color-secondary-dark8: #00272b;
$color-secondary-dark9: #001315;

$color-secondary-light1: #1ac7d9;
$color-secondary-light2: #33cddd;
$color-secondary-light3: #4dd4e2;
$color-secondary-light4: #66dae6;
$color-secondary-light5: #80e0ea;
$color-secondary-light6: #99e6ee;
$color-secondary-light7: #b3ecf2;
$color-secondary-light8: #ccf3f7;
$color-secondary-light9: #e6f9fb;
