// フォント
$font-weight-bold: 700;
$font-weight-normal: 400;

// 色
// 空の背景
$color-empty-bg: #eee;

// 濃色背景（ダークグレー）
$color-dark-bg: #222;

// つくば紫
$color-primary: #60c;

// フューチャーブルー
$color-secondary: #00c1d5;

// グレーテキスト
$color-gray-text: #888;

// Twitter
$color-twitter: #1da1f2;

// Instagram
$color-instagram: #e1306c;
